.home header {
    background-color: var(--colorAmarillo);
    margin: 0;
/* 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0; */
    
}
.home header img {
    width: 220px;
    padding: 25px 0 10px 35px;
}
.busqueda {
    display: flex;
    width: 300px;
    margin-left: 20px;
}
.busqueda i {
    background-color: var(--colorGrisClaro);
    margin-left: 5px;
    padding: 2px;
} 
.home nav li,a {
    list-style: none;
    text-decoration: none;
    color:black;
}
.home header p {
    text-align: center;
    margin: 10px;
}
.home header div {
    text-align: center;
    margin-top: 15px;
}
.home header div i,.home header div p{
    display: contents;
}

.home header nav {
    padding: 10px 0;
    display: none;
}
.home header nav ul li i {
    margin-left: 5px;
    background-color: transparent;
    margin-top: 0;
}
/* .burger-menu {
    background-color: var(--colorCeleste);
    padding: 10px;
    border-radius: 7px;
}
.burger-menu i {
    font-size: 2em;
    color: var(--colorBlanco);
} */

.burger-menu {
    /* width: 50px;
    height: 50px;
    border-radius: 10px; 
    background-color: var(--colorCeleste); */
    display: flex;
    /* justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0px auto;  */
   
} 
.burger-menu i {
    font-size: 2em;
    color: var(--colorBlanco);
    background-color: var(--colorCeleste);
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
}

/* tablet */

@media (min-width:361px){
    .home header nav {
        display: flex;
        margin-left: 5px;
    }
    .burger-menu{
        display: none;
    }
}
/* desktop */
@media (min-width:769px){
    .home header nav {
        display: flex;
        margin-left: 5px;
    }
    .burger-menu{
        display: none;
    }
}